# Dépendances
node_modules/
.pnp
.pnp.js

# Build
dist/
dist-ssr/

# Variables d'environnement locales
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Éditeur
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Vite
.vite/
vite.config.js.timestamp-*
